<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= @contact.errors.count %> error(es) impidieron que este registro fuera guardado:</h2>

    <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-4 mx-auto">
			<div class="card">
			  <div class="card-header">
			    <%= @contact.name %>
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Birth date: <%= @contact.birth_date %></h5>
			    <p class="card-text">Telephone: <%= @contact.tel %></p>
			    <p class="card-text">Address: <%= @contact.address %></p>
			    <p class="card-text">Credit Card: <%= @contact.credit_card %></p>
			    <p class="card-text">Email: <%= @contact.email %></p>
			    <%= link_to "Edit", edit_contact_path(@contact), class: "btn btn-primary btn-sm" %>
			  </div>
			</div>
		</div>
	</div>
</div>