<div class="container">
	<div class="row">
		<div class="col-12">
			<h4>Import franchise table</h4>
			<%= form_tag import_franchises_path, multipart: true do %>
			  <%= file_field_tag :file %>
			  <%= submit_tag "Import CSV" %>
			<% end %>
		</div>
		<div class="col-12">
			<%= form_tag(fix_header_contacts_path, method: :put) do %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>IIN ranges</th>
						<th>Field length</th>
					</tr>
					
				</thead>
				<tbody>
					<% @franchises.each do |franchise| %>
						<tr>
							<td><%= franchise.name %></td>
							<td><%= franchise.prefix %></td>
							<td><%= franchise.number_length %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
